@import "schema";

#root {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

// SUBMIT BUTTON
.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 0em;
    width: 200px;
    height: auto;
    background: $primaryblue;
    border: none;
    border-radius: 7px;
    font-weight: bold;

    a {
        text-decoration: none;
        color: $primaryblue;
        width: 100%;
    }
}

.submit:hover {
    background-color: inherit;
    color: $primaryblue;
    border: 2px solid $primaryblue;

    a {
        color: $white;
    }
}

// FOR SIGN-IN, SIGN-UP AND PASSWORD FORGET PAGE
.sign-in {
    background-color: $backgroundcolor;
    display: flex;
    min-height: 100vh;
    flex-direction: row;

    .left {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 2em 4em;
        gap: 2em;

        img {
            width: 60px;
        }

        .sub {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.65em;

            h1 {
                font-weight: 800;
                font-size: 2.375rem;
                margin: 0;
            }

            .social-container {
                display: flex;
                flex-direction: row;
                gap: 1em;
                width: 85%;

                .social-btn1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: inherit;
                    width: 50%;
                    height: auto;
                    padding: 1em 1em;
                    border: 1.2px solid #000000;
                    border-radius: 5px;
                    font-weight: 700;
                    font-size: 0.8rem;
                    letter-spacing: 0.6px;
                    color: #000000;
                    gap: 0.5rem;

                    img {
                        width: 20px;
                    }
                }

                .social-btn2 {
                    @extend .social-btn1;
                    border: 1.2px solid $primaryblue;
                }
            }

            input {
                background-color: inherit;
                padding: 1em 1.5em;
                width: 60%;
                height: auto;
                border: 1.2px solid $lightgrey;
                border-radius: 5px;
                color: #000000;
            }

            .checkbox-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 60%;

                #remember {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 50%;
                    font-size: 0.875rem;
                    gap: 0.5em;

                    img {
                        margin: 0;
                        width: 16px;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 50%;
                    text-decoration: none;
                    color: $primaryblue;
                    font-size: 0.875rem;
                    font-weight: bold;
                }
            }

            #back {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                text-decoration: none;
                color: $primaryblue;
                font-size: 0.875rem;
                font-weight: bold;
                gap: 1em;

                img {
                    width: 10px;
                }
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0em 3em;
        position: relative;

        .right-sub {
            display: flex;
            flex-direction: column;
            width: 98%;
            height: 100%;
            background-color: $primaryblue;
            transform: skewX(-10deg);
            overflow: hidden;

            .signup-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 8em;
                gap: 0.5em;

                h1 {
                    font-size: 4rem;
                    font-weight: 800;
                    text-align: center;
                    color: $white;
                    margin: 0;
                    transform: skewX(10deg);
                }

                p {
                    color: $white;
                    font-weight: 600;
                    text-align: center;
                    margin: 0;
                    transform: skewX(10deg);
                }

                .submit2 {
                    @extend .submit;
                    background: $white;
                    color: $primaryblue;
                    margin-top: 2.5em;
                    transform: skewX(10deg);
                }

                .submit2:hover {
                    background-color: inherit;
                    color: $white;
                    border: 2px solid $white;
                }
            }

            .signup-container:nth-child(odd) {
                margin-top: 6em;
                gap: 1em;

                h1 {
                    font-size: 2.8rem;
                    width: 70%;
                    margin: auto;
                }

                .submit2 {
                    margin-top: 1em;
                }
            }
        }

        #headphone {
            width: 150px;
            position: absolute;
            top: 4rem;
            left: 0rem;
            z-index: 1;
        }

        #vrheadset {
            width: 125px;
            position: absolute;
            top: 0rem;
            right: 0rem;
            z-index: 1;
        }

        #younglady {
            width: 150px;
            position: absolute;
            bottom: 0rem;
            left: 3rem;
            z-index: 1;
        }

        #gamepad {
            width: 125px;
            position: absolute;
            bottom: 8rem;
            right: 3.125rem;
            z-index: 1;
        }

        #man {
            width: 280px;
            position: absolute;
            bottom: 0rem;
            right: 14rem;
            z-index: 1;
        }
    }
}

// INTEREST PAGE SECTION
.interests {
    display: flex;
    flex-direction: column;
    background-color: $backgroundcolor;
    min-height: 100vh;
    padding: 3em 4em;
    gap: 3em;

    #logo {
        width: 60px;
    }

    .sub {
        display: flex;
        flex-direction: column;
        gap: 2em;

        h1 {
            font-weight: 800;
            font-size: 2.375rem;
        }

        p {
            font-size: 1rem;
            max-width: 60%;
        }
    }

    .topics-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5em;

        .topic {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;

            .image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                max-width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 2px solid #FE8400;

                img {
                    width: 100%;
                }
            }

            span {
                font-size: 1.125rem;
                font-weight: 500;
            }
        }

        .topic.selected .tick-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: rgba(3, 7, 7, 0.5);
            position: absolute;
            border-radius: 50%;

            .tick-icon {
                width: 60px;
                height: 60px;
            }
        }
    }

    a {
        text-decoration: none;

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: inherit;
            color: $primaryblue;
            font-weight: 600;
            gap: 0.5em;
            padding: 1em 0em;
            width: 124px;
            height: 52px;
            border: 1.5px solid $primaryblue;
            border-radius: 6px;
            margin: 0 auto;

            img {
                width: 12px;
            }

        }
    }
}

// INVITATION PAGE SECTION
.invitation-page {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 3em 0em;
    background: url("../assets/invitation/backgroundgradient.png") fixed center no-repeat;

    .sub {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: auto;
        padding: 3em 4em;
        background: rgba(255, 255, 255, 0.27);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(5px);
        border-radius: 25px;
        gap: 1.5em;

        h1 {
            font-weight: 800;
            font-size: 2.375rem;
        }

        .invite {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 330px;
            height: auto;
            padding: 0.75em 1em;
            background-color: $white;
            border-radius: 90px;
            gap: 1em;

            a {
                text-decoration: none;
                color: $primaryblue;
                padding: 0.75em 1em;
                height: auto;
                border: 1px solid $primaryblue;
                border-radius: 90px;
            }
        }

        b {
            margin-top: 2em;
        }

        .link-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: #d4d8f8;
            padding: 0em 2em;
            gap: 1em;

            input {
                width: 100%;
                background-color: inherit;
                height: 80px;
                color: black;
                border: none;
                font-weight: bold;
                letter-spacing: 0.5px;
            }

            button {
                width: 140px;
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: $primaryblue;
                border: none;
                border-radius: 6px;
            }

            .tooltip {
                visibility: hidden;
                background-color: #000;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px;
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: opacity 0.3s;
            }

            .tooltip.show {
                visibility: visible;
                opacity: 1;
            }

        }
    }

    .sub2 {
        @extend .sub;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
            max-width: 200px;
        }

        a {
            @extend .submit;
            text-decoration: none;
            color: $white;
        }

        a:hover {
            background-color: $primaryblue;
            color: $white;
            border: none;
        }
    }
}

// HOME PAGE SECTION
.home-page {
    display: flex;
    flex-direction: row;
    background-color: $backgroundcolor;
    width: 100%;
    max-height: 100vh;

    .left {
        display: flex;
        flex-direction: column;
        width: 27.5%;
        padding: 3em 2em 3em 2em;
        gap: 3em;
        background-color: $backgroundcolor;
        max-height: 100vh;
        overflow: hidden;

        // SEARCH COMPONENT
        .search-container {
            display: flex;
            flex-direction: row;
            gap: 0.5em;

            img {
                width: 60px;
            }

            .input-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #dcdcdc7d;
                border-radius: 16px;
                padding: 1em;
                gap: 0.5em;
                color: $darkgrey;

                img {
                    width: 24px;
                }

                input {
                    background-color: #dcdcdc00;
                    border: #dcdcdc7d;
                    outline: none;
                    height: 20px;
                    font-size: 1rem;
                    color: $black;
                    width: 100%;

                }
            }
        }

        // GROUP COMPONENT
        .group-container {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            h2 {
                font-size: 1.15rem;
                font-weight: 800;
                color: #363636;
                margin: 0;
            }

            .group-list {
                display: flex;
                flex-direction: row;
                gap: 1.5em;
                align-items: center;

                img {
                    width: 30px;
                    padding-top: 0.2em;
                }

                a {
                    font-size: 1rem;
                    font-weight: 700;
                    color: #6C6C6C;
                    text-decoration: none;
                }
            }
        }

        // CONNECTION COMPONENT
        .connection-container {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            height: 100%;

            h2 {
                font-size: 1.15rem;
                font-weight: 800;
                color: #363636;
                margin: 0;
            }

            .connection-sub-container {
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                max-height: 400px;
                overflow-y: hidden;
                /* Set overflow-y to hidden to hide the scrollbar by default */
                transition: overflow-y 200s ease;
                /* Add a transition for a smooth effect */

                &:hover {
                    overflow-y: auto;
                    /* Show the scrollbar on hover */
                }

                .connection-list {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 10px;
                    padding: 0.5em;


                    .image-container {
                        width: 15%;

                        img {
                            width: 100%;
                        }
                    }

                    a {
                        font-size: 1rem;
                        font-weight: 700;
                        color: #6C6C6C;
                        text-decoration: none;
                        width: 70%;
                        padding-left: 2em;
                    }

                    span {
                        font-size: 0.7rem;
                        color: #6C6C6C;
                        width: 15%;
                    }
                }

                .connection-list:hover {
                    background-color: rgba(100, 100, 100, 0.105);
                }
            }

            .connection-sub-container::-webkit-scrollbar {
                width: 6px;
                background-color: #F3F5F8;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            .connection-sub-container:hover::-webkit-scrollbar {
                opacity: 1;
                /* Show the scrollbar on hover */
            }

            .connection-sub-container::-webkit-scrollbar-thumb {
                background-color: #dcdcdc;
                border-radius: 4px;
            }

            .connection-sub-container::-webkit-scrollbar-thumb:hover {
                background-color: $primaryblue;
            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        width: 45%;
        max-height: 100vh;
        padding-bottom: 2em;
        background-color: #ffffffa8;
        align-items: center;
        gap: 2em;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        /* Hide the scrollbar for modern browsers */
        -ms-overflow-style: none;

        /* Hide the scrollbar for Internet Explorer and Edge */
        // NAVIGATION COMPONENT
        .navigation-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 70%;
            padding: 1.5em 1em 1em 1em;
            background: rgba(51, 119, 255, 0.12);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
            border-radius: 0px 0px 20px 20px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                padding: 0.5em;
                border-radius: 8px;

                img {
                    width: 30px;
                }
            }

            a:hover {
                background-color: $primaryblue;
            }
        }

        // STORIES COMPONENT
        .stories-container {
            display: flex;
            flex-direction: row;
            width: 90%;
            background: #FFFFFF;
            box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.07);
            border-radius: 16px;
            padding: 1.5em 0em 1.5em 1.5em;

            .stories-sub-container {
                display: flex;
                flex-direction: row;
                gap: 1.3em;
                overflow-x: scroll;
                overflow-y: hidden;
                scrollbar-width: none;
                /* Hide the scrollbar for modern browsers */
                -ms-overflow-style: none;

                /* Hide the scrollbar for Internet Explorer and Edge */
                .story {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1em;
                    text-decoration: none;

                    img {
                        max-width: 60px;
                        border: 1.5px solid $orange;
                        border-radius: 50%;
                    }

                    span {
                        font-size: 0.875rem;
                        font-weight: 600;
                        color: #1F1F1F;
                    }
                }
            }

            .stories-sub-container::-webkit-scrollbar {
                display: none;
                /* Hide the scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
            }
        }

        // POST COMPONENT
        .post-container {
            display: flex;
            flex-direction: column;
            width: 90%;
            gap: 1.5em;
            background: #FFFFFF;
            box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.07);
            border-radius: 16px;
            padding: 1.5em;

            .top {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 2.5em;

                img {
                    max-width: 50px;
                }

                input {
                    width: 100%;
                    padding: 0em 1.5em;
                    background-color: #dcdcdc7d;
                    border: none;
                    outline: none;
                    border-radius: 16px;
                    color: $darkgrey;
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .media-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5em;
                    font-size: 0.875rem;
                    text-decoration: none;
                    color: #1F1F1F;
                    font-weight: 600;

                    img {
                        height: 20px;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $primaryblue;
                    width: 90px;
                    height: 40px;
                    border: none;
                    outline: none;
                    border-radius: 8px;
                }

                button:hover {
                    background-color: #1e69ff;
                }
            }
        }

        // FEED COMPONENT
        .feed-container {
            @extend .post-container;
            gap: 1.5em;

            .top-container {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 1em;

                .image-container {
                    display: flex;
                    width: 15%;
                }

                .details-container {
                    display: flex;
                    flex-direction: column;
                    width: 75%;

                    .username {
                        font-size: 1.15rem;
                        color: #3F3F3F;
                        font-weight: 700;
                    }

                    .lastposted {
                        font-size: 0.75rem;
                        color: #3f3f3f93;
                        font-weight: 500;
                    }
                }

                .settings-container {
                    display: flex;
                    justify-content: flex-end;
                    width: 10%;
                }
            }

            .center-container {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 100%;

                p {
                    width: 100%;
                    margin: 0;
                }

                .images-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 0.5em;

                    .show {
                        display: block;
                        max-width: 49%;
                        border-radius: 16px;
                    }

                    .hide {
                        display: none;
                    }
                }

                .bottom {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    .interaction-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0em 1.25em;
                        width: 170px;
                        height: 55px;
                        background: $primaryblue;
                        border-radius: 29px;
                        color: white;
                        font-size: 0.875rem;
                        text-decoration: none;

                        .value {
                            background: #064CB7;
                            border-radius: 30px;
                            padding: 0.5em;
                        }
                    }

                    .comments-share-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-end;
                        gap: 1em;
                        font-size: 0.875rem;

                        a {
                            color: $darkgrey;
                            text-decoration: none;
                        }
                    }

                }
            }

            .bottom-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1.25em;

                .top-area {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 1.25em 0em;
                    border-top: 0.5px solid #d2d2d276;
                    border-bottom: 0.5px solid #d2d2d276;

                    .icon-container {
                        display: flex;
                        gap: 1em;
                        justify-content: space-between;
                        text-decoration: none;
                        cursor: pointer;

                        img {
                            width: 20px;
                        }

                        span {
                            font-size: 0.875rem;
                            color: $darkgrey;
                        }
                    }
                }

                .bottom-area {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    gap: 1em;

                    .left-con {
                        width: 10%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                        }
                    }

                    .center-con {
                        width: 75%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #dcdcdc7d;
                        border-radius: 16px;
                        padding: 0em 1em;
                        gap: 0.5em;
                        color: $darkgrey;

                        input {
                            background-color: #dcdcdc00;
                            border: none;
                            outline: none;
                            padding: 0.5em;
                            color: $darkgrey;
                            width: 75%;
                        }

                        .image-container {
                            display: flex;
                            justify-content: space-between;
                            width: 25%;

                            img {
                                width: 18px;
                            }
                        }
                    }

                    .right-con {
                        width: 10%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #3377ff3e;
                        border-radius: 10px;

                        img {
                            width: 18px;
                        }

                    }

                }
            }
        }

    }

    .center::-webkit-scrollbar {
        display: none;
        /* Hide the scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 27.5%;
        padding: 3em 2em 1em 2em;
        gap: 3em;
        background-color: $backgroundcolor;
        max-height: 100vh;
        overflow-y: scroll;

        // USER PROFILE COMPONENT
        .user-profile-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1em;

            span {
                color: #3F3F3F;
                font-weight: 700;
            }
        }

        // SUGGESTION COMPONENT
        .suggestion-container {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .top-area {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 1.15rem;
                    font-weight: 800;
                    color: #363636;
                    margin: 0;
                }

                a {
                    color: $primaryblue;
                    padding: 0.5em;
                    font-size: 0.875rem;
                    border-radius: 5px;
                    border: 1px solid $primaryblue;
                    margin: 0;
                    text-decoration: none;
                }
            }

            .center-area {
                display: flex;
                padding: 1em 0em;
                background-color: inherit;
                gap: 1em;
                border-top: 1px solid #d2d2d276;
                align-items: center;

                img {
                    max-width: 100px;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;

                    .one {
                        color: #3F3F3F;
                        font-size: 1.15em;
                        font-weight: 700;
                    }

                    .two {
                        font-size: 0.875rem;
                        color: #3f3f3f93;
                        font-weight: 500;
                    }
                }

            }

            .bottom-area {
                display: flex;
                flex-direction: row;
                gap: 1em;

                .btn-1 {
                    background-color: inherit;
                    border-radius: 5px;
                    border: 0.5px solid #8E949C;
                    padding: 0.75em 1.5em;
                    color: #8E949C;
                    font-size: 1rem;
                    font-weight: 600;
                    text-decoration: none;
                }

                .btn-2 {
                    @extend .btn-1;
                    color: $white;
                    background-color: $primaryblue;
                }
            }
        }
    }
}

// ACTIVITY COMPONENT
.activity-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    padding: 1.5em 1.25em;
    background: #FFF;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.07);
    gap: 1em;

    h2 {
        font-size: 1.15rem;
        font-weight: 800;
        color: #363636;
        margin: 0;
    }

    .sub-component {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5em;

        .like-activities-container {
            display: flex;
            align-items: center;
            gap: 1em;
            color: #3F3F3F;
            font-size: 0.875rem;
            font-weight: 200;

            img {
                width: 35px;
                height: 35px;
            }

            span {
                font-weight: 700;
            }

            .likes {
                display: flex;
                flex-direction: row;
                gap: 0.5em;
            }

            .follow {
                display: flex;
                flex-direction: row;
                gap: 0.5em;

                .sub {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;

                    .buttons-container {
                        display: flex;
                        gap: 0.5em;

                        .btn-1 {
                            width: 50%;
                            height: 30px;
                            background-color: inherit;
                            border-radius: 5px;
                            border: 0.5px solid #8E949C;
                            color: #8E949C;
                            font-size: 0.7rem;
                            font-weight: 600;
                            text-decoration: none;
                        }

                        .btn-2 {
                            @extend .btn-1;
                            color: $white;
                            background-color: $primaryblue;
                        }
                    }
                }
            }
        }
    }
}

// COMMENT MODAL COMPONENT
.modal-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Darker background */
    z-index: 9999;

    .modal-content-sub {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 2em;
        width: 50%;
        background-color: #FFFFFF;
        overflow-y: scroll;
        border-radius: 5px;

        .modal-content {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 2em;
            margin-bottom: 1.5em;

            img {
                width: 40px;
                height: 40px;
            }

            .right-modal-content {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .comment {
                    padding: 1em 1.5em;
                    color: #000000;
                    background-color: #dcdcdc7d;
                    border-radius: 10px;
                }

                .actions {
                    display: flex;
                    gap: 2em;
                }
            }
        }
    }

    /* Reduce the scroll bar size */
    .modal-content-sub::-webkit-scrollbar {
        width: 8px;
        /* Set the width of the scroll bar */
    }

    .modal-content-sub::-webkit-scrollbar-thumb {
        background-color: #888;
        /* Set the color of the scroll bar thumb */
        border-radius: 4px;
        /* Set the border radius of the scroll bar thumb */
    }

    /* Remove the scroll bar arrow */
    .modal-content-sub::-webkit-scrollbar-button {
        display: none;
        /* Hide the scroll bar arrow */
    }
}