@import "schema";

#root {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

// SUBMIT BUTTON
.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;
    width: 200px;
    height: auto;
    background: $primaryblue;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

.submit:hover {
    background-color: inherit;
    color: $primaryblue;
    border: 2px solid $primaryblue;
}

// SIGN IN PAGE
.sign-in {
    background-color: $backgroundcolor;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    .left {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 3em 4em;
        gap: 3em;
        img {
            width: 60px;
            // margin-bottom: 7em;
        }
        .sub {
            display: flex;
            flex-direction: column;
            width: 85%;
            gap: 1em;
            .social-container {
                display: flex;
                flex-direction: row;
                gap: 1em;
                width: 100%;
                .social-btn1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: inherit;
                    width: 50%;
                    height: auto;
                    padding: 1em 0em;
                    border: 1.2px solid #000000;
                    border-radius: 5px;
                    font-weight: 700;
                    font-size: 0.875rem;
                    letter-spacing: 0.6px;
                    color: #000000;
                    gap: 0.5rem;
                    img {
                        width: 24px;
                    }
                }
                .social-btn2 {
                    @extend .social-btn1;
                    border: 1.2px solid $primaryblue;
                }
            }
            input {
                background-color: inherit;
                padding: 1em 1.5em;
                width: 100%;
                height: auto;
                border: 1.2px solid $lightgrey;
                border-radius: 5px;
                color: #000000;
            }
            .checkbox-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                #remember {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 50%;
                    font-size: 0.875rem;
                    gap: 0.5em;
                    img {
                        margin: 0;
                        width: 16px;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 50%;
                    text-decoration: none;
                    color: $primaryblue;
                    font-size: 0.875rem;
                    font-weight: bold;
                }
            }
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: $primaryblue;
        padding: 3em;
        position: relative;
        .signup-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5em;
            gap: 0.5em;
            h1 {
                font-size: 4rem;
                font-weight: 800;
                text-align: center;
                color: $white;
                margin: 0;
            }
            p {
                color: $white;
                font-weight: 600;
                text-align: center;
                margin: 0;
            }
            .submit2 {
                @extend .submit;
                background: $white;
                color: $primaryblue;
                margin-top: 2.5em;
            }
            .submit2:hover {
                background-color: inherit;
                color: $white;
                border: 2px solid $white;
            }
        }
        #headphone {
            width: 150px;
            position: absolute;
            top: 4rem;
            left: 0rem;
            z-index: 20;
        }
        #vrheadset {
            width: 125px;
            position: absolute;
            top: 0rem;
            right: 0rem;
            z-index: 20;
        }
        #younglady {
            width: 125px;
            position: absolute;
            bottom: 0rem;
            left: 3rem;
            z-index: 20;
        }
        #gamepad {
            width: 125px;
            position: absolute;
            bottom: 8rem;
            right: 3.125rem;
            z-index: 20;
        }
    }
}
