#root {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.submit, .invitation-page .sub2 a, .sign-in .right .right-sub .signup-container .submit2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  width: 200px;
  height: auto;
  background: #3377FF;
  border: none;
  border-radius: 7px;
  font-weight: bold;
}
.submit a, .invitation-page .sub2 a a, .sign-in .right .right-sub .signup-container .submit2 a {
  text-decoration: none;
  color: #3377FF;
  width: 100%;
}

.submit:hover, .invitation-page .sub2 a:hover, .sign-in .right .right-sub .signup-container .submit2:hover {
  background-color: inherit;
  color: #3377FF;
  border: 2px solid #3377FF;
}
.submit:hover a, .invitation-page .sub2 a:hover a, .sign-in .right .right-sub .signup-container .submit2:hover a {
  color: #ffffff;
}

.sign-in {
  background-color: #E7F0FA;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}
.sign-in .left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em 4em;
  gap: 2em;
}
.sign-in .left img {
  width: 60px;
}
.sign-in .left .sub, .sign-in .left .invitation-page .sub2, .invitation-page .sign-in .left .sub2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.65em;
}
.sign-in .left .sub h1, .sign-in .left .invitation-page .sub2 h1, .invitation-page .sign-in .left .sub2 h1 {
  font-weight: 800;
  font-size: 2.375rem;
  margin: 0;
}
.sign-in .left .sub .social-container, .sign-in .left .invitation-page .sub2 .social-container, .invitation-page .sign-in .left .sub2 .social-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 85%;
}
.sign-in .left .sub .social-container .social-btn1, .sign-in .left .invitation-page .sub2 .social-container .social-btn1, .invitation-page .sign-in .left .sub2 .social-container .social-btn1, .sign-in .left .sub .social-container .social-btn2, .sign-in .left .invitation-page .sub2 .social-container .social-btn2, .invitation-page .sign-in .left .sub2 .social-container .social-btn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  width: 50%;
  height: auto;
  padding: 1em 1em;
  border: 1.2px solid #000000;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  color: #000000;
  gap: 0.5rem;
}
.sign-in .left .sub .social-container .social-btn1 img, .sign-in .left .invitation-page .sub2 .social-container .social-btn1 img, .invitation-page .sign-in .left .sub2 .social-container .social-btn1 img, .sign-in .left .sub .social-container .social-btn2 img, .sign-in .left .invitation-page .sub2 .social-container .social-btn2 img, .invitation-page .sign-in .left .sub2 .social-container .social-btn2 img {
  width: 20px;
}
.sign-in .left .sub .social-container .social-btn2, .sign-in .left .invitation-page .sub2 .social-container .social-btn2, .invitation-page .sign-in .left .sub2 .social-container .social-btn2 {
  border: 1.2px solid #3377FF;
}
.sign-in .left .sub input, .sign-in .left .invitation-page .sub2 input, .invitation-page .sign-in .left .sub2 input {
  background-color: inherit;
  padding: 1em 1.5em;
  width: 60%;
  height: auto;
  border: 1.2px solid #4F4F4F;
  border-radius: 5px;
  color: #000000;
}
.sign-in .left .sub .checkbox-container, .sign-in .left .invitation-page .sub2 .checkbox-container, .invitation-page .sign-in .left .sub2 .checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.sign-in .left .sub .checkbox-container #remember, .sign-in .left .invitation-page .sub2 .checkbox-container #remember, .invitation-page .sign-in .left .sub2 .checkbox-container #remember {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  font-size: 0.875rem;
  gap: 0.5em;
}
.sign-in .left .sub .checkbox-container #remember img, .sign-in .left .invitation-page .sub2 .checkbox-container #remember img, .invitation-page .sign-in .left .sub2 .checkbox-container #remember img {
  margin: 0;
  width: 16px;
}
.sign-in .left .sub .checkbox-container a, .sign-in .left .invitation-page .sub2 .checkbox-container a, .invitation-page .sign-in .left .sub2 .checkbox-container a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  text-decoration: none;
  color: #3377FF;
  font-size: 0.875rem;
  font-weight: bold;
}
.sign-in .left .sub #back, .sign-in .left .invitation-page .sub2 #back, .invitation-page .sign-in .left .sub2 #back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-decoration: none;
  color: #3377FF;
  font-size: 0.875rem;
  font-weight: bold;
  gap: 1em;
}
.sign-in .left .sub #back img, .sign-in .left .invitation-page .sub2 #back img, .invitation-page .sign-in .left .sub2 #back img {
  width: 10px;
}
.sign-in .right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0em 3em;
  position: relative;
}
.sign-in .right .right-sub {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 100%;
  background-color: #3377FF;
  transform: skewX(-10deg);
  overflow: hidden;
}
.sign-in .right .right-sub .signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8em;
  gap: 0.5em;
}
.sign-in .right .right-sub .signup-container h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  margin: 0;
  transform: skewX(10deg);
}
.sign-in .right .right-sub .signup-container p {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin: 0;
  transform: skewX(10deg);
}
.sign-in .right .right-sub .signup-container .submit2 {
  background: #ffffff;
  color: #3377FF;
  margin-top: 2.5em;
  transform: skewX(10deg);
}
.sign-in .right .right-sub .signup-container .submit2:hover {
  background-color: inherit;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.sign-in .right .right-sub .signup-container:nth-child(odd) {
  margin-top: 6em;
  gap: 1em;
}
.sign-in .right .right-sub .signup-container:nth-child(odd) h1 {
  font-size: 2.8rem;
  width: 70%;
  margin: auto;
}
.sign-in .right .right-sub .signup-container:nth-child(odd) .submit2 {
  margin-top: 1em;
}
.sign-in .right #headphone {
  width: 150px;
  position: absolute;
  top: 4rem;
  left: 0rem;
  z-index: 1;
}
.sign-in .right #vrheadset {
  width: 125px;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 1;
}
.sign-in .right #younglady {
  width: 150px;
  position: absolute;
  bottom: 0rem;
  left: 3rem;
  z-index: 1;
}
.sign-in .right #gamepad {
  width: 125px;
  position: absolute;
  bottom: 8rem;
  right: 3.125rem;
  z-index: 1;
}
.sign-in .right #man {
  width: 280px;
  position: absolute;
  bottom: 0rem;
  right: 14rem;
  z-index: 1;
}

.interests {
  display: flex;
  flex-direction: column;
  background-color: #E7F0FA;
  min-height: 100vh;
  padding: 3em 4em;
  gap: 3em;
}
.interests #logo {
  width: 60px;
}
.interests .sub, .interests .invitation-page .sub2, .invitation-page .interests .sub2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.interests .sub h1, .interests .invitation-page .sub2 h1, .invitation-page .interests .sub2 h1 {
  font-weight: 800;
  font-size: 2.375rem;
}
.interests .sub p, .interests .invitation-page .sub2 p, .invitation-page .interests .sub2 p {
  font-size: 1rem;
  max-width: 60%;
}
.interests .topics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}
.interests .topics-container .topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.interests .topics-container .topic .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #FE8400;
}
.interests .topics-container .topic .image-container img {
  width: 100%;
}
.interests .topics-container .topic span {
  font-size: 1.125rem;
  font-weight: 500;
}
.interests .topics-container .topic.selected .tick-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 7, 7, 0.5);
  position: absolute;
  border-radius: 50%;
}
.interests .topics-container .topic.selected .tick-container .tick-icon {
  width: 60px;
  height: 60px;
}
.interests a {
  text-decoration: none;
}
.interests a button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: #3377FF;
  font-weight: 600;
  gap: 0.5em;
  padding: 1em 0em;
  width: 124px;
  height: 52px;
  border: 1.5px solid #3377FF;
  border-radius: 6px;
  margin: 0 auto;
}
.interests a button img {
  width: 12px;
}

.invitation-page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 3em 0em;
  background: url("../assets/invitation/backgroundgradient.png") fixed center no-repeat;
}
.invitation-page .sub, .invitation-page .sub2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  padding: 3em 4em;
  background: rgba(255, 255, 255, 0.27);
  border: 1px solid #FFFFFF;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 25px;
  gap: 1.5em;
}
.invitation-page .sub h1, .invitation-page .sub2 h1 {
  font-weight: 800;
  font-size: 2.375rem;
}
.invitation-page .sub .invite, .invitation-page .sub2 .invite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: auto;
  padding: 0.75em 1em;
  background-color: #ffffff;
  border-radius: 90px;
  gap: 1em;
}
.invitation-page .sub .invite a, .invitation-page .sub2 .invite a {
  text-decoration: none;
  color: #3377FF;
  padding: 0.75em 1em;
  height: auto;
  border: 1px solid #3377FF;
  border-radius: 90px;
}
.invitation-page .sub b, .invitation-page .sub2 b {
  margin-top: 2em;
}
.invitation-page .sub .link-container, .invitation-page .sub2 .link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #d4d8f8;
  padding: 0em 2em;
  gap: 1em;
}
.invitation-page .sub .link-container input, .invitation-page .sub2 .link-container input {
  width: 100%;
  background-color: inherit;
  height: 80px;
  color: black;
  border: none;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.invitation-page .sub .link-container button, .invitation-page .sub2 .link-container button {
  width: 140px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #3377FF;
  border: none;
  border-radius: 6px;
}
.invitation-page .sub .link-container .tooltip, .invitation-page .sub2 .link-container .tooltip {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.invitation-page .sub .link-container .tooltip.show, .invitation-page .sub2 .link-container .tooltip.show {
  visibility: visible;
  opacity: 1;
}
.invitation-page .sub2 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.invitation-page .sub2 img {
  max-width: 200px;
}
.invitation-page .sub2 a {
  text-decoration: none;
  color: #ffffff;
}
.invitation-page .sub2 a:hover {
  background-color: #3377FF;
  color: #ffffff;
  border: none;
}

.home-page {
  display: flex;
  flex-direction: row;
  background-color: #E7F0FA;
  width: 100%;
  max-height: 100vh;
}
.home-page .left {
  display: flex;
  flex-direction: column;
  width: 27.5%;
  padding: 3em 2em 3em 2em;
  gap: 3em;
  background-color: #E7F0FA;
  max-height: 100vh;
  overflow: hidden;
}
.home-page .center {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-height: 100vh;
  padding-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.6588235294);
  align-items: center;
  gap: 2em;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Hide the scrollbar for modern browsers */
  -ms-overflow-style: none;
}
.home-page .center .stories-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  background: #FFFFFF;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  padding: 1.5em 0em 1.5em 1.5em;
}
.home-page .center .stories-container .stories-sub-container {
  display: flex;
  flex-direction: row;
  gap: 1.3em;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  /* Hide the scrollbar for modern browsers */
  -ms-overflow-style: none;
  /* Hide the scrollbar for Internet Explorer and Edge */
}
.home-page .center .stories-container .stories-sub-container .story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-decoration: none;
}
.home-page .center .stories-container .stories-sub-container .story img {
  max-width: 60px;
  border: 1.5px solid #FE8400;
  border-radius: 50%;
}
.home-page .center .stories-container .stories-sub-container .story span {
  font-size: 0.875rem;
  font-weight: 600;
  color: #1F1F1F;
}
.home-page .center .stories-container .stories-sub-container::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
}
.home-page .center .post-container, .home-page .center .feed-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1.5em;
  background: #FFFFFF;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  padding: 1.5em;
}
.home-page .center .post-container .top, .home-page .center .feed-container .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2.5em;
}
.home-page .center .post-container .top img, .home-page .center .feed-container .top img {
  max-width: 50px;
}
.home-page .center .post-container .top input, .home-page .center .feed-container .top input {
  width: 100%;
  padding: 0em 1.5em;
  background-color: rgba(220, 220, 220, 0.4901960784);
  border: none;
  outline: none;
  border-radius: 16px;
  color: #363636;
}
.home-page .center .post-container .bottom, .home-page .center .feed-container .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.home-page .center .post-container .bottom .media-container, .home-page .center .feed-container .bottom .media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  font-size: 0.875rem;
  text-decoration: none;
  color: #1F1F1F;
  font-weight: 600;
}
.home-page .center .post-container .bottom .media-container img, .home-page .center .feed-container .bottom .media-container img {
  height: 20px;
}
.home-page .center .post-container .bottom button, .home-page .center .feed-container .bottom button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3377FF;
  width: 90px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.home-page .center .post-container .bottom button:hover, .home-page .center .feed-container .bottom button:hover {
  background-color: #1e69ff;
}
.home-page .center .feed-container {
  gap: 1.5em;
}
.home-page .center .feed-container .top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}
.home-page .center .feed-container .top-container .image-container {
  display: flex;
  width: 15%;
}
.home-page .center .feed-container .top-container .details-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.home-page .center .feed-container .top-container .details-container .username {
  font-size: 1.15rem;
  color: #3F3F3F;
  font-weight: 700;
}
.home-page .center .feed-container .top-container .details-container .lastposted {
  font-size: 0.75rem;
  color: rgba(63, 63, 63, 0.5764705882);
  font-weight: 500;
}
.home-page .center .feed-container .top-container .settings-container {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
.home-page .center .feed-container .center-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.home-page .center .feed-container .center-container p {
  width: 100%;
  margin: 0;
}
.home-page .center .feed-container .center-container .images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5em;
}
.home-page .center .feed-container .center-container .images-container .show {
  display: block;
  max-width: 49%;
  border-radius: 16px;
}
.home-page .center .feed-container .center-container .images-container .hide {
  display: none;
}
.home-page .center .feed-container .center-container .bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.home-page .center .feed-container .center-container .bottom .interaction-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1.25em;
  width: 170px;
  height: 55px;
  background: #3377FF;
  border-radius: 29px;
  color: white;
  font-size: 0.875rem;
  text-decoration: none;
}
.home-page .center .feed-container .center-container .bottom .interaction-container .value {
  background: #064CB7;
  border-radius: 30px;
  padding: 0.5em;
}
.home-page .center .feed-container .center-container .bottom .comments-share-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  font-size: 0.875rem;
}
.home-page .center .feed-container .center-container .bottom .comments-share-container a {
  color: #363636;
  text-decoration: none;
}
.home-page .center .feed-container .bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25em;
}
.home-page .center .feed-container .bottom-container .top-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25em 0em;
  border-top: 0.5px solid rgba(210, 210, 210, 0.462745098);
  border-bottom: 0.5px solid rgba(210, 210, 210, 0.462745098);
}
.home-page .center .feed-container .bottom-container .top-area .icon-container {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
}
.home-page .center .feed-container .bottom-container .top-area .icon-container img {
  width: 20px;
}
.home-page .center .feed-container .bottom-container .top-area .icon-container span {
  font-size: 0.875rem;
  color: #363636;
}
.home-page .center .feed-container .bottom-container .bottom-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
}
.home-page .center .feed-container .bottom-container .bottom-area .left-con {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page .center .feed-container .bottom-container .bottom-area .left-con img {
  width: 100%;
}
.home-page .center .feed-container .bottom-container .bottom-area .center-con {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(220, 220, 220, 0.4901960784);
  border-radius: 16px;
  padding: 0em 1em;
  gap: 0.5em;
  color: #363636;
}
.home-page .center .feed-container .bottom-container .bottom-area .center-con input {
  background-color: rgba(220, 220, 220, 0);
  border: none;
  outline: none;
  padding: 0.5em;
  color: #363636;
  width: 75%;
}
.home-page .center .feed-container .bottom-container .bottom-area .center-con .image-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
.home-page .center .feed-container .bottom-container .bottom-area .center-con .image-container img {
  width: 18px;
}
.home-page .center .feed-container .bottom-container .bottom-area .right-con {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 119, 255, 0.2431372549);
  border-radius: 10px;
}
.home-page .center .feed-container .bottom-container .bottom-area .right-con img {
  width: 18px;
}
.home-page .center::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
}
.home-page .right {
  display: flex;
  flex-direction: column;
  width: 27.5%;
  padding: 3em 2em 1em 2em;
  gap: 3em;
  background-color: #E7F0FA;
  max-height: 100vh;
  overflow-y: scroll;
}
.home-page .right .suggestion-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.home-page .right .suggestion-container .top-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page .right .suggestion-container .top-area h2 {
  font-size: 1.15rem;
  font-weight: 800;
  color: #363636;
  margin: 0;
}
.home-page .right .suggestion-container .top-area a {
  color: #3377FF;
  padding: 0.5em;
  font-size: 0.875rem;
  border-radius: 5px;
  border: 1px solid #3377FF;
  margin: 0;
  text-decoration: none;
}
.home-page .right .suggestion-container .center-area {
  display: flex;
  padding: 1em 0em;
  background-color: inherit;
  gap: 1em;
  border-top: 1px solid rgba(210, 210, 210, 0.462745098);
  align-items: center;
}
.home-page .right .suggestion-container .center-area img {
  max-width: 100px;
}
.home-page .right .suggestion-container .center-area .details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.home-page .right .suggestion-container .center-area .details .one {
  color: #3F3F3F;
  font-size: 1.15em;
  font-weight: 700;
}
.home-page .right .suggestion-container .center-area .details .two {
  font-size: 0.875rem;
  color: rgba(63, 63, 63, 0.5764705882);
  font-weight: 500;
}
.home-page .right .suggestion-container .bottom-area {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.home-page .right .suggestion-container .bottom-area .btn-1, .home-page .right .suggestion-container .bottom-area .activity-component .sub-component .like-activities-container .follow .sub .buttons-container .btn-2, .activity-component .sub-component .like-activities-container .follow .sub .buttons-container .home-page .right .suggestion-container .bottom-area .btn-2, .home-page .right .suggestion-container .bottom-area .activity-component .sub-component .like-activities-container .follow .invitation-page .sub2 .buttons-container .btn-2, .activity-component .sub-component .like-activities-container .follow .invitation-page .sub2 .buttons-container .home-page .right .suggestion-container .bottom-area .btn-2, .home-page .right .suggestion-container .bottom-area .invitation-page .activity-component .sub-component .like-activities-container .follow .sub2 .buttons-container .btn-2, .invitation-page .activity-component .sub-component .like-activities-container .follow .sub2 .buttons-container .home-page .right .suggestion-container .bottom-area .btn-2, .home-page .right .suggestion-container .bottom-area .btn-2 {
  background-color: inherit;
  border-radius: 5px;
  border: 0.5px solid #8E949C;
  padding: 0.75em 1.5em;
  color: #8E949C;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.home-page .right .suggestion-container .bottom-area .btn-2 {
  color: #ffffff;
  background-color: #3377FF;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.search-container img {
  width: 60px;
}
.search-container .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.4901960784);
  border-radius: 16px;
  padding: 1em;
  gap: 0.5em;
  color: #363636;
}
.search-container .input-container img {
  width: 24px;
}
.search-container .input-container input {
  background-color: rgba(220, 220, 220, 0);
  border: rgba(220, 220, 220, 0.4901960784);
  outline: none;
  height: 20px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  width: 100%;
}

.group-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.group-container h2 {
  font-size: 1.15rem;
  font-weight: 800;
  color: #363636;
  margin: 0;
}
.group-container .group-list {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  align-items: center;
}
.group-container .group-list img {
  width: 30px;
  padding-top: 0.2em;
}
.group-container .group-list a {
  font-size: 1rem;
  font-weight: 700;
  color: #6C6C6C;
  text-decoration: none;
}

.connection-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 100%;
}
.connection-container h2 {
  font-size: 1.15rem;
  font-weight: 800;
  color: #363636;
  margin: 0;
}
.connection-container .connection-sub-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-height: 400px;
  overflow-y: hidden;
  /* Set overflow-y to hidden to hide the scrollbar by default */
  transition: overflow-y 200s ease;
  /* Add a transition for a smooth effect */
}
.connection-container .connection-sub-container:hover {
  overflow-y: auto;
  /* Show the scrollbar on hover */
}
.connection-container .connection-sub-container .connection-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0.5em;
}
.connection-container .connection-sub-container .connection-list .image-container {
  width: 15%;
}
.connection-container .connection-sub-container .connection-list .image-container img {
  width: 100%;
}
.connection-container .connection-sub-container .connection-list a {
  font-size: 1rem;
  font-weight: 700;
  color: #6C6C6C;
  text-decoration: none;
  width: 70%;
  padding-left: 2em;
}
.connection-container .connection-sub-container .connection-list span {
  font-size: 0.7rem;
  color: #6C6C6C;
  width: 15%;
}
.connection-container .connection-sub-container .connection-list:hover {
  background-color: rgba(100, 100, 100, 0.105);
}
.connection-container .connection-sub-container::-webkit-scrollbar {
  width: 6px;
  background-color: #F3F5F8;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.connection-container .connection-sub-container:hover::-webkit-scrollbar {
  opacity: 1;
  /* Show the scrollbar on hover */
}
.connection-container .connection-sub-container::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
  border-radius: 4px;
}
.connection-container .connection-sub-container::-webkit-scrollbar-thumb:hover {
  background-color: #3377FF;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  padding: 1.5em 1em 1em 1em;
  background: rgba(51, 119, 255, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 20px 20px;
}
.navigation-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 8px;
}
.navigation-container a img {
  width: 30px;
}
.navigation-container a:hover {
  background-color: #3377FF;
}

.user-profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  text-decoration: none;
}
.user-profile-container span {
  color: #3F3F3F;
  font-weight: 700;
}

.activity-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  padding: 1.5em 1.25em;
  background: #FFF;
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.07);
  gap: 1em;
}
.activity-component h2 {
  font-size: 1.15rem;
  font-weight: 800;
  color: #363636;
  margin: 0;
}
.activity-component .sub-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
}
.activity-component .sub-component .like-activities-container {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #3F3F3F;
  font-size: 0.875rem;
  font-weight: 200;
}
.activity-component .sub-component .like-activities-container img {
  width: 35px;
  height: 35px;
}
.activity-component .sub-component .like-activities-container span {
  font-weight: 700;
}
.activity-component .sub-component .like-activities-container .likes {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.activity-component .sub-component .like-activities-container .follow {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.activity-component .sub-component .like-activities-container .follow .sub, .activity-component .sub-component .like-activities-container .follow .invitation-page .sub2, .invitation-page .activity-component .sub-component .like-activities-container .follow .sub2 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.activity-component .sub-component .like-activities-container .follow .sub .buttons-container, .activity-component .sub-component .like-activities-container .follow .invitation-page .sub2 .buttons-container, .invitation-page .activity-component .sub-component .like-activities-container .follow .sub2 .buttons-container {
  display: flex;
  gap: 0.5em;
}
.activity-component .sub-component .like-activities-container .follow .sub .buttons-container .btn-1, .activity-component .sub-component .like-activities-container .follow .sub .buttons-container .btn-2, .activity-component .sub-component .like-activities-container .follow .invitation-page .sub2 .buttons-container .btn-1, .activity-component .sub-component .like-activities-container .follow .invitation-page .sub2 .buttons-container .btn-2, .invitation-page .activity-component .sub-component .like-activities-container .follow .sub2 .buttons-container .btn-1, .invitation-page .activity-component .sub-component .like-activities-container .follow .sub2 .buttons-container .btn-2 {
  width: 50%;
  height: 30px;
  background-color: inherit;
  border-radius: 5px;
  border: 0.5px solid #8E949C;
  color: #8E949C;
  font-size: 0.7rem;
  font-weight: 600;
  text-decoration: none;
}
.activity-component .sub-component .like-activities-container .follow .sub .buttons-container .btn-2, .activity-component .sub-component .like-activities-container .follow .invitation-page .sub2 .buttons-container .btn-2, .invitation-page .activity-component .sub-component .like-activities-container .follow .sub2 .buttons-container .btn-2 {
  color: #ffffff;
  background-color: #3377FF;
}

.modal-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Darker background */
  z-index: 9999;
  /* Reduce the scroll bar size */
  /* Remove the scroll bar arrow */
}
.modal-container .modal-content-sub {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  width: 50%;
  background-color: #FFFFFF;
  overflow-y: scroll;
  border-radius: 5px;
}
.modal-container .modal-content-sub .modal-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2em;
  margin-bottom: 1.5em;
}
.modal-container .modal-content-sub .modal-content img {
  width: 40px;
  height: 40px;
}
.modal-container .modal-content-sub .modal-content .right-modal-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.modal-container .modal-content-sub .modal-content .right-modal-content .comment {
  padding: 1em 1.5em;
  color: #000000;
  background-color: rgba(220, 220, 220, 0.4901960784);
  border-radius: 10px;
}
.modal-container .modal-content-sub .modal-content .right-modal-content .actions {
  display: flex;
  gap: 2em;
}
.modal-container .modal-content-sub::-webkit-scrollbar {
  width: 8px;
  /* Set the width of the scroll bar */
}
.modal-container .modal-content-sub::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Set the color of the scroll bar thumb */
  border-radius: 4px;
  /* Set the border radius of the scroll bar thumb */
}
.modal-container .modal-content-sub::-webkit-scrollbar-button {
  display: none;
  /* Hide the scroll bar arrow */
}

.profile-page {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.6588235294);
  width: 100%;
}
.profile-page .left-section {
  display: flex;
  flex-direction: column;
  width: 27.5%;
  padding: 3em 2em 3em 2em;
  gap: 3em;
  background-color: #E7F0FA;
  max-height: 100vh;
  overflow: hidden;
}
.profile-page .right-section {
  display: flex;
  flex-direction: column;
  width: 72.5%;
  padding: 0em 3em 0em 2em;
  gap: 2em;
}
.profile-page .right-section .top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
}
.profile-page .right-section .top-container .first-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 1em;
  gap: 3em;
}
.profile-page .right-section .top-container .second-area {
  display: flex;
  flex-direction: column;
}
.profile-page .right-section .bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.profile-header-container .profile-image-container {
  background-color: inherit;
  border-radius: 20px;
  position: absolute;
  top: 5em;
  left: 3em;
  width: 180px;
  height: 190px;
  z-index: 99;
}
.profile-header-container .profile-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.profile-header-container .cover-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 195px;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.profile-header-container .cover-image-container {
  position: relative;
}
.profile-header-container .cover-image-container .edit-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  width: 100px;
  height: auto;
  background-color: rgba(40, 40, 40, 0.6);
  border: none;
  border-radius: 7px;
  font-weight: bold;
  position: absolute;
  right: 2.5em;
  bottom: 2.5em;
}
.profile-header-container .cover-image-container .edit-cover a {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.profile-header-container .cover-image-container .name-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  bottom: 2em;
  left: 16em;
  color: #FFFFFF;
  z-index: 99;
}
.profile-header-container .cover-image-container .name-container h1 {
  font-size: 1.85rem;
  margin: 0;
  font-weight: 800;
}
.profile-header-container .cover-image-container img {
  width: 100%;
  height: 195px;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  background-size: cover;
}
.profile-header-container .bottom-area {
  display: flex;
  width: 70%;
  margin-left: auto;
  padding-right: 2em;
}
.profile-header-container .bottom-area .friend-count-container {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 0.5em;
}
.profile-header-container .bottom-area .friend-count-container p {
  color: #4C4C54;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.profile-header-container .bottom-area .friend-count-container .image-mask-container {
  display: flex;
  align-items: center;
  position: relative;
}
.profile-header-container .bottom-area .friend-count-container .image-mask-container img {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: -0.5rem;
}
.profile-header-container .bottom-area .friend-count-container .image-mask-container #pos1 {
  margin-left: 0em;
}
.profile-header-container .bottom-area .buttons-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: auto;
  gap: 1em;
}
.profile-header-container .bottom-area .buttons-container .submit3, .profile-header-container .bottom-area .buttons-container .submit3-alt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  width: 100px;
  height: auto;
  background: #3377FF;
  border: none;
  border-radius: 7px;
  font-weight: bold;
}
.profile-header-container .bottom-area .buttons-container .submit3 a, .profile-header-container .bottom-area .buttons-container .submit3-alt a {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.profile-header-container .bottom-area .buttons-container .submit3-alt {
  background-color: inherit;
  border: 1px solid #282828;
}
.profile-header-container .bottom-area .buttons-container .submit3-alt a {
  color: #282828;
}/*# sourceMappingURL=App.css.map */